/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_spinner
 */
$black: #161616;
$grey: #747474;

html {
	height: 100%;
}

body {
	font-family: sans-serif;
	background: $black;
	color: $grey;
	font-size: 12px;
	height: 100%;
	padding-right: 10px;
}


header {
	display: flex;
	img {
		z-index: 1;
	}
	div {
		background: url(/assets/pokedex-header-nav.png);
		width: 100%;
		height: 46px;
		margin-right: -10px;
	}
}

.poke-form h2 {
  text-align: center;
}
.poke-form {
  width: 100%;
  background: #d1ccb6;
  border: 5px solid red;
  box-sizing: border-box;
}
.poke-form input {
  float: right;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin-right: 10%;

}

.poke-form select {
  float: right;
  width: 52%;
  margin-right: 10%;
}

.poke-form label {
  margin-left: 25%
}

.poke-form label:after {
  content: "";
  display: block;
  clear: both;
}

.pokedex {
  display:flex;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.pokemon-index {
  height: 650px;
  overflow:scroll;
}

.pokemon-detail {
  text-align: center;
  width: 500px;
  background: #d1ccb6;
  border: 5px solid red;
  box-sizing: border-box;
}

.item-list {
  display:flex;
  justify-content: center;
}
