<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnb</title>

     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB0Ds-1R5nhcXUyRay9ekoJiCOJV0TxmSI" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
