<form className="" onSubmit={}>
  <label>
    <input type="text" name="" value="">
  </label>

  <label>
    <input type="text" name="" value="">
  </label>

  <input type="submit" value="{}">
</form>
