/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: antiquewhite;
}

#content {
  width: 50%;
  margin: 50px auto;
  background: lightblue;
  padding: 20px;
  font-family: sans-serif;
  box-shadow: 4px 4px black;
}

h1{
  text-align: center;
}

button {
  background: white;
  float: right;

  transform: translateY(-50%);
  border-radius: 5px;
}

.group:after {
  content: '';
  clear: both;
  display: block;
}

.todo-form {

}

.todo-form input {
  width: 90%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.list-item {
  margin-bottom: 5px;
}

.list-item strong {
  font-size: 16px;
}
